body{
    padding: 20px 20%;
}
h1{
    background-color: pink;
    text-align: center;
}
.horizontal_boxes{
    display: flex;
}
.black_box{
    background-color: black;
    height: 60px;
    width: 60px;
}
.red_box{
    background-color: red;
    height: 60px;
    width: 60px;
}